<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EPAM Campus Suite" parallel="classes" thread-count="3">
    <test name="Campus Tests">
        <classes>
            <class name="com.eduardorichards.tests.LocationFilterTest"/>
            <class name="com.eduardorichards.tests.NavbarNavigationTest"/>
            <class name="com.eduardorichards.tests.CareerJourneyQuizTest"/>
        </classes>
    </test>
</suite>